{% extends './layout.html' %}
{% block body %}
<!-- Numero de destinos -->
<h1 class="mt-3">Asignacion</h1>
<div class="card mb-3 bg-secondary-subtle">
    <div class="card-header">
        <h3 class="mt-3">Datos iniciales</h3>
    </div>
    <div class="card-body">
        <form action="{{ url_for('setCookie') }}" method="POST">
            <div class="row">
                <div class="col col-xl-6">
                    <div class="input-group mb-4">
                        <span class="input-group-text bg-secondary text-light border border-secondary"><strong>Nro. de destinos</strong> <small>(columnas)</small>:</span>
                        <input class="form-control form-control-sm border border-secondary" 
                            type="number" 
                            name="nud_dest" 
                            id="nud_dest" 
                            min="1" 
                            max="20" 
                            placeholder="0" 
                            value="0" 
                            required
                        >
                    </div>
                </div>
        
                <div class="col col-xl-6">
                    <div class="input-group mb-4">
                        <span class="input-group-text bg-secondary text-light border border-secondary"><strong>Nro. de opciones</strong> <small>(filas)</small>: </span>
                        <input class="form-control border border-secondary" 
                            type="number" 
                            name="nud_options" 
                            id="nud_options" 
                            min="1" 
                            max="20" 
                            placeholder="0" 
                            value="0" 
                            required
                            >
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-xl-6 col-sm-12">
                    <div class="card mb-4 border border-secondary">
                        <div class="card-header bg-secondary text-light">
                            Ingreso de Nombres
                        </div>
                        <div class="card-body">
                            <div id="destContainer">
        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-sm-12">
                    <div class="card mb-4 border border-secondary">
                        <div class="card-header bg-secondary text-light">
                            Ingreso de opciones
                        </div>
                        <div class="card-body">
                            <div id="opContainer">
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-xl-6 col-sm-3">
                            <div class="input-group mb-4">
                                <span class="input-group-text bg-secondary text-light border border-secondary">Caso:</span>
                                <select class="form-control border border-secondary" name="slc_case" id="slc_case" required>
                                    <option value="max">MAX</option>
                                    <option value="min">MIN</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-5">
                            <div class="input-group mb-4">
                                <span class="input-group-text bg-secondary text-light border border-secondary">Cantidad de recurso:</span>
                                <input class="form-control border border-secondary" type="number" name="nud_resAmount" id="nud_resAmount" min="1" max="10000" placeholder="0" value="0" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-sm-column flex-xl-row justify-content-start">
                <input class="btn btn-secondary mb-2 mx-2" 
                    id="btn_submit" 
                    type="submit" 
                    value="Siguiente" 
                    >
                <input class="btn btn-secondary mb-2 mx-2" 
                    id="btn_clean" 
                    type="reset" 
                    value="Limpiar" 
                    >
            </div> 
        </form>
    </div>
</div>


{% endblock %}
{% block script %}
<script>
    // Variables
    const nud_dest = document.getElementById('nud_dest');
    const nud_options = document.getElementById('nud_options');
    const nud_resAmount = document.getElementById('nud_resAmount');

    const destField = document.getElementById('destContainer');
    const opField = document.getElementById('opContainer');
    
    const btn_sumbit = document.getElementById('btn_submit');
    const btn_clean = document.getElementById('btn_clean');

    // Functions
    const cleanContainer = (target) => {
        while(target.firstChild){
            target.removeChild(target.firstChild);
        }
    }
    const fillContainer = (target, num, type, name, value, min=0, max=20) => {
        
        if(isNaN(num) || num <= 0){
            while(target.firstChild){
                target.removeChild(target.firstChild);
            }
            return;
        }

        let childrenNum = target.children.length;

        if (childrenNum > num){
            for(let i=0; i < childrenNum - num; i++){
                target.removeChild(target.lastChild);
            }
        } 

        if (childrenNum < num){
            for(let i=1; i <= num - childrenNum; i++){
                const input = document.createElement('input');

                input.setAttribute('type', type);
                input.setAttribute('name', name.toString() + (childrenNum + i));
                if(value != undefined){
                    input.setAttribute('value', value.toString() + (childrenNum + i));
                }
                if (type == 'number'){
                    input.setAttribute( 'min', min );
                    input.setAttribute( 'max', max );
                }
                input.setAttribute( 'class', 'form-control-sm border border-dark-subtle' );
                input.addEventListener('click', () => { input.select(); });
                target.appendChild(input);
            }
        }
    }
    const isDestFieldValid = () => {
        for(let dest of destField.children){
            if(dest.value.trim() == '') return false;
        }
        return true;
    }
    const isOpFieldValid = () => {
        for (let op of opField.children){
            if (op.value.trim() == '') return false;
        }
        return true;
    }
    const isFormValid = () => {

        return !isNaN(parseInt(nud_dest.value.trim())) &&
            !isNaN(parseInt(nud_options.value.trim())) &&
            !isNaN(parseInt(nud_resAmount.value.trim())) &&
            isDestFieldValid() && isOpFieldValid();
    }
    const areOpValid = () => {
        for (let op of opField.children){
            if (parseFloat(op.value) > parseFloat(nud_resAmount.value))
                return false;
        }
        return true;
    }


    // Eventlisteners
    nud_dest.addEventListener('click',() => { nud_dest.select(); });
    nud_dest.addEventListener('input',() => {
        if ( parseInt(nud_dest.value) > parseInt(nud_dest.max) ) return;

        fillContainer(destField, parseInt(nud_dest.value),'text','dest_','dest');
    });

    nud_options.addEventListener('click', () => { nud_options.select(); });
    nud_options.addEventListener('input', () =>{
        if ( parseInt(nud_options.value) > parseInt(nud_dest.max) ) return;

        fillContainer(opField, parseInt(nud_options.value), 'number', 'option_');
    });

    nud_resAmount.addEventListener('click', () => { nud_resAmount.select(); });

    btn_sumbit.addEventListener('click', (e) => {
        if (!isFormValid()){
            e.preventDefault();
            alert('Existen datos no validos ingresados');
            return;
        }
        
        if (!areOpValid()){
            e.preventDefault();
            alert('Opciones de asignacion incoherentes');
            return;
        }
    });
    btn_clean.addEventListener('click', () => {
        cleanContainer(destField);
        cleanContainer(opField);
    })
</script>
{% endblock %}
