{% extends './layout.html' %}
{% block body %}

{% if correct %}
<div>
    <form action="{{ url_for('show_interval_view') }}" method="POST">
        <table>
            <thead>
                <tr>
                    <th>...</th>

                    {% for dest in data.get_destinos() %}
                    <th>{{ dest.get_nombre() }}</th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody id="tbl_r">
                {% for op in data.get_opciones() %}
                <tr id="r_row_{{ op }}">
                    <td>{{ op }}</td>

                    {% for i in data.get_destinos() %}
                    <td>
                        <input type="number"
                         name="{{ op }}_{{ i.get_nombre() }}_value"
                         min="1" 
                         max="1000" 
                         placeholder="0"
                         value="0"
                         onclick="this.select()">
                    </td>
                    {% endfor %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input id="btn_submit" type="submit" value="Aceptar">
        <input type="reset" value="Limpiar">
    </form>
</div>

{% else %}

<div>
    <h1>Error, ingrese datos validos de inicio</h1>
</div>
{% endif %}

{% endblock %}
