{% extends './layout.html' %}
{% block body %}
<!-- Numero de destinos -->

<form action="{{ url_for('setCookie') }}" method="POST">
    <div class="row">
        <div class="col">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">
                    <label class="form-control" for="nud_dest">Cantidad de destinos:</label>
                </li>
                <li>
                    <input class="form-control" type="number" name="nud_dest" id="nud_dest" min="1" max="20" placeholder="0" value="0">
                </li>
            </ol>
        </div>

        <div class="col">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">
                    <label class="form-control" for="nud_options">Numero de opciones</label>
                </li>
                <li>
                    <input class="form-control" type="number" name="nud_options" id="nud_options" min="1" max="20" placeholder="0" value="0">
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    Ingreso de Nombres
                </div>
                <div class="card-body">
                    <div class="datatable-wrapper" id="destContainer">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    Ingreso de opciones
                </div>
                <div class="card-body">
                    <div class="simple-datatables" id="opContainer">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><hr>

    <div class="row">
        <div class="col">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">
                    <label class="form-control" for="slc_case">Caso:</label>
                    <select class="form-control" name="slc_case" id="slc_case">
                        <option value="max">MAX</option>
                        <option value="min">MIN</option>
                    </select>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ol class="breadcrumb mb-3">
                <li class="breadcrumb-item active">
                    <label class="form-control" for="nud_resAmount">Cantidad de recurso:</label>
                    <input class="form-control" type="number" name="nud_resAmount" id="nud_resAmount" min="1" max="10000" placeholder="0" value="0">
                </li>
            </ol>
        </div>
    </div>

    <br><hr>
    <div class="row">
        <div class="col">
            <input class="form-floating" id="btn_submit" type="submit" value="Siguiente">
            <input class="form-floating" type="reset" value="Limpiar">
        </div>
    </div>
    
</form>


{% endblock %}
{% block script %}
<script>
    // Variables
    const nud_dest = document.getElementById('nud_dest');
    const nud_options = document.getElementById('nud_options');
    const nud_resAmount = document.getElementById('nud_resAmount');

    const destField = document.getElementById('destContainer');
    const opField = document.getElementById('opContainer');
    
    const btn_sumbit = document.getElementById('btn_submit');

    // Functions
    const fillContainer = (target, num, type, name, value) => {
        

        if(isNaN(num) || num <= 0){
            while(target.firstChild){
                target.removeChild(target.firstChild);
            }
            return;
        }

        let childrenNum = target.children.length;

        if (childrenNum > num){
            for(let i=0; i < childrenNum - num; i++){
                target.removeChild(target.lastChild);
            }
        } 

        if (childrenNum < num){
            for(let i=1; i <= num - childrenNum; i++){
                const input = document.createElement('input');

                input.setAttribute('type', type);
                input.setAttribute('name', name.toString() + (childrenNum + i));
                if(value != undefined){
                    input.setAttribute('value', value.toString() + (childrenNum + i));
                }
                input.addEventListener('click', () => { input.select(); });
                target.appendChild(input);
            }
        }
    }
    const isDestFieldValid = () => {
        for(let dest of destField.children){
            if(dest.value.trim() == '') return false;
        }
        return true;
    }
    const isOpFieldValid = () => {
        for (let op of opField.children){
            if (op.value.trim() == '') return false;
        }
        return true;
    }
    const isFormValid = () => {

        return !isNaN(parseInt(nud_dest.value.trim())) &&
            !isNaN(parseInt(nud_options.value.trim())) &&
            !isNaN(parseInt(nud_resAmount.value.trim())) &&
            isDestFieldValid() && isOpFieldValid();
    }
    const areOpValid = () => {
        for (let op of opField.children){
            if (parseFloat(op.value) > parseFloat(nud_resAmount.value))
                return false;
        }
        return true;
    }

    // Eventlisteners
    nud_dest.addEventListener('click',() => { nud_dest.select(); });
    nud_dest.addEventListener('input',() => {
        if ( parseInt(nud_dest.value) > parseInt(nud_dest.max) ) return;

        fillContainer(destField, parseInt(nud_dest.value),'text','dest_','dest');
    });

    nud_options.addEventListener('click', () => { nud_options.select(); });
    nud_options.addEventListener('input', () =>{
        if ( parseInt(nud_options.value) > parseInt(nud_dest.max) ) return;

        fillContainer(opField, parseInt(nud_options.value), 'number', 'option_');
    });

    nud_resAmount.addEventListener('click', () => { nud_resAmount.select(); });

    btn_sumbit.addEventListener('click', (e) => {
        if (!isFormValid()){
            e.preventDefault();
            alert('Existen datos no validos ingresados');
            return;
        }
        
        if (!areOpValid()){
            e.preventDefault();
            alert('Opciones de asignacion incoherentes');
            return;
        }
    });
</script>
{% endblock %}
