{% extends './layout.html' %}
{% block body %}
<!-- Numero de destinos -->
<div>
    <form action="{{ url_for('show_dataInput_view') }}" method="POST" id="form">
        <div>
            <label for="nud_dest">Cantidad de destinos:</label>
            <input type="number" name="nud_dest" id="nud_dest" min="0" max="20">
        </div>
        <div>
            <label for="nud_options">Numero de opciones</label>
            <input type="number" name="nud_options" id="nud_options" min="0" max="20">
        </div>
        <div>
            <label for="slc_case">Caso:</label>
            <select name="slc_case" id="slc_case">
                <option value="max">MAX</option>
                <option value="min">min</option>
            </select>
        </div>
        <input type="submit" value="Siguiente">
    </form>
    <div>
        <input type="button" id="btn_getNames" value="Asignar Nombres">
        <input type="button" id="btn_getOptions" value="Ingresar opciones">
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    const btn_getNames = document.getElementById('btn_getNames');
    const btn_getOptions = document.getElementById('btn_getOptions');

    const nud_dest = document.getElementById('nud_dest');
    const nud_options = document.getElementById('nud_options');

    const nameField = document.createElement('div')
    const optionField = document.createElement('div');

    const form = document.getElementById('form');

    const generateNameFields = () => {
        if(nud_dest.value != ''){
            while (nameField.firstChild) {
                nameField.removeChild(nameField.firstChild);
            }
            for(let i = 1; i<=parseInt(nud_dest.value); i++){
                const txt_input = document.createElement('input')
                txt_input.setAttribute('name', 'dest_' + i + '_name');
                txt_input.setAttribute('value', 'dest' + i);
                nameField.appendChild(txt_input);
            }
            form.appendChild(nameField);
        }else{
            alert('Ingrese un numero de destinos valido');
        }
    }
    const generateOptionFields = () => {
        if(nud_options.value != ''){
            while (optionField.firstChild){
                optionField.removeChild(optionField.firstChild);
            }
            for(let i = 1; i<=parseInt(nud_options.value); i++){
                const txt_input = document.createElement('input');
                txt_input.setAttribute('type', 'number');
                txt_input.setAttribute('name', 'option_' + i);
                console.log(txt_input)
                optionField.appendChild(txt_input);
            }
            form.appendChild(optionField);
        }else{
            alert('Ingrese numero de opciones valido');
        }
    }

    btn_getNames.addEventListener('click', generateNameFields);
    btn_getOptions.addEventListener('click', generateOptionFields);


</script>
{% endblock %}