<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.tittle }}</title>
    {% block style %}{% endblock %}

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
</head>

<body class="sb-nav-fixed">
    <!-- inicio nav -->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{{ url_for('show_home_view') }}">Asignacion</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
    </nav>
    <!-- fin nav -->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Datos Iniciales</div>
                        <a class="nav-link" href="/">
                            <!-- <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div> -->
                            Nuevo Problema
                        </a>
                        <a class="nav-link" href="index.html">
                            <!-- <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div> -->
                            Tabla inicial
                        </a>
                        <div class="sb-sidenav-menu-heading">Solucion</div>
                        {% if data.get_etapas() %}
                        {% set r = [] %} {% for x in data.get_etapas() %} {% set _ = r.append(x) %} {% endfor %}
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Etapas
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                       
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                {% for item in r %}
                                <a class="nav-link" href="/data/etapas/{{loop.index-1}}">Etapa {{loop.index}}</a>
                                {% endfor %}
                            </nav>
                        </div>
                        {% else %}
                        <a class="nav-link collapsed disabled" href="#" data-bs-toggle="collapse"
                        data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Etapas
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                        {% endif %}
                        <a class="nav-link" href="/sol">
                            <!-- <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div> -->
                            Solucion
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">EMI</div>
                    5to Semestre
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                {% block body %}
                {% endblock %}
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Asignacion con tabla definida 2023</div>
                        <div>
                            <a href="#">Balderrama</a>
                            &middot;
                            <a href="#">Eguino</a>
                            &middot;
                            <a href="#">Espinoza</a>
                            &middot;
                            <a href="#">Uriona</a>
                            &middot;
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    {% block script %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='demo/chart-bar-demo.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
</body>

</html>