<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.tittle }}</title>
    {% block style %}{% endblock %}
</head>
<body>
    <h1>Menu</h1>
    <ul>
        <li><a href= "">Cargar los datos</a></li>
        <li><a href= "{{ url_for('show_home_view') }}">Nuevo problema</a></li>
    </ul>
    {% block body %}
    {% endblock %}
    <footer>
        <div style="display: flex; align-content: center;">
            <span>Balderrama - Eguino - Espinoza - Uriona - 2023</span>
        </div>
    </footer>
    {% block script %}
    {% endblock %}
</body>
</html>