{% extends './layout.html' %}
{% block body %}
<div>
    <form name="table" class="table-container" method="POST" action="{{ url_for('show_loaded_data') }}">
        <table>
            <thead>
                <tr>
                    <th>...</th>

                    {% for dest in initial_data.destinations %}
                    <th>{{ dest }}</th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                {% for op in initial_data.asig_options %}
                <tr >
                    <td>{{ op }}</td>

                    {% for i in initial_data.destinations %}
                    <td><input type="number" name="{{ op }}_{{ i }}_value"></td>
                    {% endfor %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Aceptar">
    </form>
</div>
{% endblock %}