{% extends './layout.html' %} {% block body %} {% if correct %}
<!-- <img src="" alt=""> -->
<input
  type="text"
  class="form-control form-control-lg"
  value="{{costominimo}}"
  readonly
/>
<input
  type="text"
  class="form-control form-control-lg"
  value="{{caminocorto}}"
  readonly
/>
<img src="{{ url_for('static', filename='images/temp2.jpg')}}" alt="" />

{%else%}
<div>
  <h1>Error, ingrese datos validos de inicio</h1>
  <div class="alert alert-danger" role="alert">
    Error: Ingersar Datos Validos
  </div>
</div>
{% endif %} {% endblock %}
