{% extends './layout.html' %}
{% block body %}

{% if correct %}
<h1 class="my-3">Soluciones</h1>
<div class="card mb-4 bg-secondary-subtle">
    <div class="card-body">
        {% for sol in data.get_solution() %}
        
            <div class="card mb-4">
                <div class="card-header bg-dark">
                    <h4 class="text-light">Solucion {{ loop.index }}</h4>
                </div>
                <div class="card-body">
                    <div class="datatable-wrapper datatable-loading no-footer fixed-columns">
                        <div class="datatable-container">
                            <table id="test" class="table table-striped border">
                                <thead>
                                    <th class="text-center">Destinos</th>
                                    <th class="text-center">Llega</th>
                                    <th class="text-center bg-success-subtle">Asigna</th>
                                    <th class="text-center">Sobra</th>
                                </thead>
                                <tbody>
                                    {% for row, dest in sol|zip(data.get_destinos()) %}
                                        <tr>
                                            <th class="text-center">{{dest.get_nombre()}}</th>
                                            
                                            <td class="text-center">{{row[0]}}</td>
                                            <td class="text-center text-success bg-success-subtle"><strong>{{row[1]}}</strong></td>
                                            <td class="text-center">{{row[2]}}</td>
                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>  
        
        {% endfor %}  
    </div>  
</div> 

{% else %}

<div>
    <h1>Error, ingrese datos validos de inicio</h1>
    <div class="alert alert-danger" role="alert">
        Error: Ingersar Datos Validos
    </div>
</div>
{% endif %}

{% endblock %}

{ % block script %}
<script>
    $(document).ready(() => {
        $('#test').DataTable();
    });
</script>
{ % endblock % }
