{% extends './layout.html' %}
{% block body %}

{% if correct %}

{% for sol in data.get_solution() %}
<div class="card mb-4">
    <div class="card-header">
        Solucion {{ loop.index }}
    </div>
    <div class="card-body">
        <div class="datatable-container">
            <table id="test" class="datatable-table" style="width:100%">
                <thead>
                    <th>Destinos</th>
                    <th>llega</th>
                    <th>asigna</th>
                    <th>sobra</th>
                </thead>
                <tbody>
                    {% for row, dest in sol|zip(data.get_destinos()) %}
                        <tr>
                            <th>{{dest.get_nombre()}}</th>
                            {% for element in row %}
                            <td>{{element}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endfor %}


{% else %}

<div>
    <h1>Error, ingrese datos validos de inicio</h1>
    <div class="alert alert-danger" role="alert">
        Error: Ingersar Datos Validos
    </div>
</div>
{% endif %}

{% endblock %}

{ % block script %}
<script>
    $(document).ready(() => {
        $('#test').DataTable();
    });
</script>
{ % endblock % }
